.btnMenu{
    border:none;
    outline:0;
    background-color:transparent;
    position:relative;
    z-index:3;

    &:hover{
        cursor:pointer;
        filter:brightness(0.5);
    }
    
}
.btnMenu svg{
    min-width:30px;
    min-height:30px;
    
}