/*animações da tela inicial*/
@keyframes animation-fade-out{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
@keyframes animation-move-motorcicle{
    0%{
        margin-left:-300px;
        transform:rotate(-50deg);
    }
    25%{
        margin-left:20px;
        transform:rotate(0deg);
    }
    50%{
        margin-left:-20px;
    }
    100%{
        margin-left:0;
    }
}
.container{
    color:var(--White);
    background:var(--Gradient);
    animation-name:animation-fade-out;
    animation-duration:300ms;
    animation-iteration-count:1;
}
.container header{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:1.5em;
}
.container header h1{
    font-size:3em;
    text-transform:uppercase;
    font-family:"Jersey 25",serif;
}
.container header h2{
    text-transform:capitalize;
    font-size:1em;
}
.container .motorcycle{
    min-width:260px;
    min-height:180px;
    animation-name:animation-move-motorcicle;
    animation-duration:1s;
    animation-iteration-count:1;
    animation-timing-function:ease-in-out
}
.container section{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:1.5em;
}
.container section a{
    text-decoration-line:none;
}
.container section button, .container section input{
    width:260px;
    height:40px;
    text-transform:capitalize;
    font-weight:700;
    font-size:1em;
    color:var(--White);
    border:4px solid var(--White);
    outline:0;
    border-radius:10px;
    background-color:transparent;
}
.container section button{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:1em;
}
.container section a button svg{
    width:20px;
    height:20px;
}