@keyframes menuAnimation {
    from{
        top:-500px;
    }
    to{
        top:0;
    }
}

.details{
    animation-name:menuAnimation;
    animation-duration:0.5s;
    width:100%;
    color:var(--Black);
    background-color:var(--White);
    display:flex;
    flex-direction:column;
    gap:1.5em;
    padding:4em 2em;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    border-radius:0px 0px 10px 10px;
}
.details div{
    display:flex;
    flex-direction:column;
    gap:0.5em;
}
.details div p{
    text-transform:capitalize;
}
.details div span{
    font-size:1.5em;
    font-weight:700;
}
.details input[type="button"]{
    padding:1em 0;
    width:120px;
    border-radius:5px;
    border:none;
    outline:0;
    background-color:var(--Black);
    color:var(--White);
    font-weight:700;
    margin-left:50%;
    transform:translateX(-50%);
}
.details input[type="button"]:hover{
    cursor:pointer;
    opacity:0.8;
}