.header{
    min-height:80px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 1em;
    border-bottom:4px solid var(--White);
    color:var(--White);
    position:absolute;
    top:0;
}
.header svg{
    min-width:30px;
    min-height:30px;
}