.header{
    min-height:80px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 1em;
    /* border-bottom:4px solid var(--White); */
    border-bottom:4px solid red;
}
.header svg{
    min-width:30px;
    min-height:30px;
}