.dayDetails{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:1em;
    align-items:flex-start;
}
.dayDetails div{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:1em;
}
.dayDetails div h2{
    font-size:1em;
    font-weight:700;
    text-transform:capitalize;
}