.monthBtn{
    padding:0.3em 2em;
    color:var(--White);
    background-color:var(--Black);
    font-weight:600;
    display:flex;
    align-items:center;
    justify-content:center;
    border:none;
    outline:0;
    border-radius:5px;
}